*{
    padding: 0;
    margin: 0;
}
.nav{
    width: 100%;
    height: 60px;
    background-color: chocolate;   
}
.backIcon{  
    color: aquamarine; 
    position: relative;
    top: 20px;
    left: 20px;  
}
 